*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    /* border: 1px solid red; */

}
html{
    scroll-behavior: smooth;
    font-size: 16px;
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(24,25,26);
}
/* navigation section */
.nav{
    position:relative;
    width: 100%;
    height: 8vh;
    background-color: rgb(36,37,38);
    border: 1px solid rgb(57,58,59);
    z-index: 10;
}
    .main-nav{
        height: 8vh;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: horizontal;
        justify-content: space-around;
        position: fixed;
        background-color: rgb(36,37,38);
        z-index: 11;

    }
        .facebook-logo__search-box{
            position: relative;
            height:100%;
            width: 20em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
            .facebook-logo__search-box img{
                position: relative;
                height: 63%;
                cursor: pointer;
            }
            .facebook-logo__search-box .search-box{
                position: relative;
                display: flex;
                align-items: center;
                width: 16rem;
                height: 5.8vh;
                background-color: rgb(58,59,60);
                border-radius: 35px;
                padding-left: 1rem;
            }
                .facebook-logo__search-box #search{
                
                    color: wheat;
                    font-size: 1.8rem;
                    font-weight: 300;
                    height:60%;

                }
                .facebook-logo__search-box .search-box input{
                    width: 80%;
                    height: 80%;
                    background-color: rgb(58,59,60);
                    border: none;
                    font-family: 'Segoe UI';
                    font-size: 1.1rem;
                    font-weight: 100;
                    padding: 0 0 0 0.5rem;
                }
                .facebook-logo__search-box .search-box input::placeholder{
                    color:#e4e6eb ;
                }


                /*mid section start  */
        .mid-section{
            position: relative;
            width: 40em;
        
        }
            .mid-section ul{
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .mid-section ul li{
                    width: 17%;
                    height: 7vh;
                    border-radius: 9px;
                    text-align: center;
                    padding:0.7rem 0 0 0;
                    cursor: pointer;
                }
                .mid-section ul li:hover{
                    background-color:rgb(58,59,60) ;
                }
                .mid-section ul li a{
                    color: white;
                }
                .mid-section ul .material-icons-round.md-36{
                    font-size: 33px;
                }
        


/* last section */
        .last-section{
            position: relative;
            width: 15em;
        }
        .last-section ul{
           
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
            .last-section ul li {
                height: 6vh;
                width: 3.2vw;
                padding: 0.5rem;
                border-radius: 50%;
               
                cursor: pointer;
                position: relative;
                background-color:rgb(58,59,60) ;
            }
            .last-section ul li a{
                color: white;
            }
            .last-section ul li .material-icons-round.md-36,.material-icons-outlined.md-36,.material-symbols-outlined.md-36{
                font-size: 33px;
            }
            .last-section li:hover{
                background-color:rgb(86, 87, 88) ;
            }
            .last-section ul li:last-child{
                height: 6vh;
                width: 3.2vw;
                border-radius: 50%;
                padding: 0;
                background-image: url(./images/ashim-1.JPG);
                background-position: center;
                background-size: cover;
            }

/* end of navigation section */

/* left side page */

.left-side{
    width: calc(100% - 80%);
    height: 90vh;
    position: fixed;
    /* border: 1px solid red; */
}

    .left-side .left-sideBar-content{
        position: relative;
        height: 67%;
        /* border: 1px solid green; */
    }
    .left-side .left-sideBar-content ul{
        display: flex;
        flex-direction: column;
        padding: 0.7rem 0 0 0;
    }
    .left-side .left-sideBar-content ul li{
        height: 6vh;
        margin:0 0 0 1vw;
        /* border: 1px solid white; */
        font-weight: 500;
        border-radius: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .left-side .left-sideBar-content ul li:hover{
        background-color:rgb(58,59,60) 
    }
    .left-side .left-sideBar-content ul li a{
        display: flex;
        width: 100%;
        /* border: 1px solid green; */
        color: white;
        align-items: center;
    }
    .left-side .left-sideBar-content ul li a p{
        /* border: 1px solid red; */
        margin-left: 1rem;
    }
    .left-side .left-sideBar-content ul li img{
        height: 5vh;
        width: 2.5vw;
        border-radius: 50%;
        /* border: 1px solid red; */
        object-fit: cover;
        object-position: center;
        margin:0.5rem 0 0 0.5rem;
    }
    .left-side .left-sideBar-content ul li h4{
        height: max-content;
        /* border: 1px solid blue; */
    }

    .left-side .left-sideBar-content .material-icons-round.md-36{
        font-size: 25px;
        color:rgb(7,120,232);
        margin-left: 1rem;
        /* border: 1px solid red; */
    }
    .left-side .left-sideBar-content .material-symbols-outlined.md-36{
        font-size: 25px;
        color:rgb(7,120,232);
        /* border: 1px solid red; */
    }
    #downarrow{
        border-radius: 50%;
        margin-left: 1rem;
        background-color: rgb(48,48,49);
    }

    /* inside the seemore */
    /* outside see more */
hr{
    position: relative;
    height: 1px;
    border: none;
    background-color: rgb(62,64,66);
    color:rgb(62,64,66) ;
}  
#shortcut{
    color: rgb(123,126,129);
    margin-left: 2rem;
}  
/* end of left side page */

/* start of right side page */

.right-side-page::-webkit-scrollbar{
    width: 10px;
}
.right-side-page::-webkit-scrollbar-track{
    background-color: rgb(24,25,26);
}
.right-side-page::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(94,94,95);

}
.right-side-page{
    position: fixed;
    top:8.5vh;
    left:calc(100% - 23%);
    width:calc( 100% - 77%);
    height: max-content;
    /* border: 1px solid red; */
    overflow: hidden;
}
.right-side-page:hover{
    overflow-y: scroll;
}
    .right-side-page .upper-part{
        position: relative;
        height: max-content;
        /* border: 1px solid green; */
        padding: 1vh 0 0 0;
    }
    .right-side-page .upper-part .title{
    color: rgb(123,126,129);
    /* border: 1px solid red; */
    }
    .right-side-page .upper-part .divs{
        position: relative;
        margin-top: 2vh;
        height: 20vh;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
    }
    .right-side-page .upper-part .divs img{
        border: 1px solid white;
        height: 70%;
        width: 10vw;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
    }
    /* .right-side-page .upper-part .first-div img{
        object-fit:cover;
        object-position: 40% 60%;
        
        border: 1px solid red;
    }
    .right-side-page .upper-part .second-div img{
        border: 1px solid red;
    } */
    
    /* right side lower part */
    .lower-part{
        position: relative;
        height:35vh ;
        /* border:1px solid red; */
        /* overflow:scroll; */
    }
        .lower-part ul header{
            padding: 0 0 0 1rem;
            display: flex;
            margin: 0 0 1.5rem 0;
            justify-content: space-between;
        }
        .lower-part ul header p{
            width: 60%;
            /* border: 1px solid red; */
            display: flex;
            justify-content: space-evenly;
        }
        .lower-part ul li {
            padding: 0 0 0 1rem;
            height: 6vh;
            
        }
        .lower-part ul li:hover{
            border-radius: 8px;
            background-color:rgb(58,59,60);
            
        }
        .lower-part ul li a{
            height: 100%;
            display: flex;
            align-items: center;
            color:rgb(105,107,110);
        }
        .lower-part ul li img{
            height: 5vh;
            width: 2.5vw;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            /* border: 1px solid red; */
            filter: grayscale(70%);

        }
        .lower-part ul li p{
            margin-left: 1rem;
        }
    /* END right side lower part */
/* end of right side page */

/* start of mid section */

/* .right-side-page::-webkit-scrollbar{
    width: 10px;
}
.right-side-page::-webkit-scrollbar-track{
    background-color: rgb(24,25,26);
}
.right-side-page::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(94,94,95);

} */
.main-mid-section{
    /* border: 1px solid white; */
    position: absolute;
    top: 8.4vh;
    left: calc(100% - 80%);
    height: 90vh;
    width: calc(100% - 43%);
}


/* story section */
    .main-mid-section .story-section{
        padding:1rem 0 0 0rem;
        position: relative;
        height: 30vh;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
    }
    .main-mid-section .story-section .your-story{
        position: relative;
        /* border :1px solid white; */
        border-radius: 15px;
        width: 15%;
        background-color: rgb(36,37,38);
        overflow: hidden;
        margin: 0 0 0 calc(100rem - 93rem);

    }
    
    .main-mid-section .story-section .your-story img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 75%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        filter: brightness(80%);
        transition: 0.2s all ease-in-out;
    }
    .main-mid-section .story-section .stories{
        background-image: url(./images/vector-illustration-avatar-dummy-logo-collection-image-icon-stock-isolated-object-set-symbol-web-137160339.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        width: 15%;
        /* border: 2px solid white; */
        filter: brightness(70%);
        position: relative;
        
    }
    .main-mid-section .story-section .your-story:hover img{
        object-fit: cover;
        filter: brightness(65%);
        transform: scale(1.01);
    }
    .main-mid-section .story-section .your-story:hover{
        background-color:rgb(27, 28, 29) ;
    }
    .main-mid-section .story-section .your-story p{
        position: absolute;
        width: 100%;
        top: calc(100vh - 77vh);
        text-align: center;
        font-weight: 500;
    }
    .main-mid-section .story-section .your-story .material-icons-outlined.md-36{
        position: absolute;
        top:calc( 100vh - 82vh);
        left: calc(100vw - 97.5vw);
        font-size: 40px;
        border-radius: 50%;
        padding: 2px;
        background-color:  rgb(36,37,38);
        color:rgb(46,137,255) ;
    }
    .main-mid-section .story-section .stories:hover{
        background-size: cover;
        background-position: -40px 10px; 
        transition: 0.1s;
        filter: brightness(60%);
    }
    
    .main-mid-section .story-section .stories img{
        position: absolute;
        top: calc(100vh - 98vh);
        left: calc(100vw - 99vw);
        height: 6vh;
        width: 3vw;
        border-radius: 50%;
        border: 4px solid rgb(46,137,255);
    }
    .main-mid-section .story-section .stories p{
        position: absolute;
        width: 100%;
        top: calc(100vh - 77vh);
        text-align: center;
        font-weight: 500;
    }
    .main-mid-section .story-section .stories:last-child{
        margin: 0 calc(100vw - 96vw) 0 0;
    }
/* end story section */

/* start of post section */
.main-mid-section .post{
    position: relative;
    top:calc( 100vh - 96vh);
    left: calc(100vw - 90vw);
    width: calc(100vw - 60vw);
    /* border : 1px solid red; */
    background-color: rgb(36,37,38);
    border-radius: 7px;
    padding:1rem ;
    height: max-content;
}
.main-mid-section .post ul li {
    position: rel;
    display: flex;
    /* border :1px solid green; */
    justify-content: space-between;
}
.main-mid-section .post ul li:first-child{
    margin-bottom: 0.5rem;
}
.main-mid-section .post ul li:first-child img{
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;

}
.main-mid-section .post ul li:first-child input{
    padding-left: 1rem ;
    width: calc(100vw - 67vw);
    border-radius: 30px;
    background-color: rgb(58,59,60);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}
.main-mid-section .post ul li:first-child input:hover{
    background-color: rgb(73, 75, 77);
}
.main-mid-section .post ul li:first-child input::placeholder{
    color:rgb(150,179,184) ;
}
.main-mid-section .post ul li:last-child{
    margin-top: 1rem;
    height: 6.5vh;
}
.main-mid-section .post ul li:last-child p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    cursor: pointer;
    /* border: 1px solid blue; */

}
.main-mid-section .post ul li:last-child p:hover{
    background-color:  rgb(58,59,60) ;
    border-radius: 10px;
}
.main-mid-section .post ul li:last-child p .material-icons-outlined.md-36{
    font-size: 30px;
    margin-right: 0.5rem;
}
.main-mid-section .post ul li:last-child p .video{
    color:rgb(243,66,95);
}
.main-mid-section .post ul li:last-child p .live{
    color: rgb(69,189,98);
}
.main-mid-section .post ul li:last-child p .felling{
    color:rgb(247,185,40) ;
}
/* end of post section */

/* -- start of room section --*/
.main-mid-section .room{
    position: relative;
    top: calc(100vh - 93vh);
    left: calc(100vw - 90vw);
    width: calc(100vw - 60vw);
    border-radius: 10px;
    /* border: 1px solid red; */
    height: max-content;
    background-color: rgb(36,37,38);

}
.main-mid-section .room ul li{
    padding: 1rem;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.main-mid-section .room ul li button{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border-radius: 40px;
    border:3px solid rgb(38,57,81);
    background-color: rgb(36,37,38);
    padding: 1rem;   
}
.main-mid-section .room ul li button:hover{
    background-color: rgb(64, 71, 80);

}
.main-mid-section .room ul li button h4{
    font-size: 1rem;
    color: rgb(40,105,241);
}
.main-mid-section .room ul li button .material-symbols-outlined.md-36{
    font-size: 30px;
    /* border: 1px solid red; */
    color:rgb(66, 147, 223);
}
.main-mid-section .room ul li img{
    position: relative;
    width: calc(100vw - 97vw);
    height: calc(100vh - 94vh);
    /* border: 1px solid red; */
    border-radius: 50%;
    cursor: pointer;
}
.main-mid-section .room ul li img:hover{
    filter:opacity(70%)

}
/* -- end of room section  */

/* start use-post */
    .main-mid-section .user-post{
    position: relative;
    border-radius: 13px;
    display: flex;
    padding-top: 2rem ;
    justify-content: center;
    /* border: 1px solid white; */
    background-color: rgb(36,37,38);
    height: 60vh;
    top: calc(100vh - 90vh);
    left: calc(100vw - 90vw);
    width: calc(100vw - 60vw);

    }
/* end of use-post */
/* end of mid section */
